<div>
  <div> class="title">Add a new question</div>
  <form  [formGroup]="addQuestionForm" (ngSubmit)="onAddNewQuestion()">
    <input  formControlName="type"
             maxlength="60"
             placeholder="Checkbox List V">
    <input   formControlName="question"
             maxlength="100"
             placeholder="Type question here">
    <input formControlName="firstOption"
           placeholder="Add Answer Option">
    <input>
    <input formControlName="secondOption"
           placeholder="Add Answer Option">
    <input>
    <div formArrayName="aliases">
      <div *ngFor="let alias of aliases.controls; let i=index">
        <input id="alias-{{ i }}" type="text" [formControlName]="i">
      </div>
    </div>
    <a  (click)="addAlias()">+ Add another answer</a>
    <mat-checkbox >Allow user to specify their own answer</mat-checkbox>
    <mat-checkbox >This field is required</mat-checkbox>
  </form>

</div>
