<form [formGroup]="quizForm">
  <div [formArrayName]="'questions'">
    <div *ngFor="let questionInfo of questions; let i = index" class="column">
      <div [formGroupName]="i" class="column">
      <div style="font-weight: 500;">{{questionInfo.options.question}}</div>
      <input [formControlName]="'text0'" type="text" *ngIf="questionInfo.options.type?.includes('Paragraph')">
      <ng-container  *ngIf="questionInfo.options.type?.includes('Checkbox List')">
        <div [formGroupName]="'checkboxes'" class="column">
        <ng-container *ngFor="let info of questionInfo.options.aliases; let index = index" >
          <mat-checkbox
            [formControlName]="getCheckboxName(index, questionInfo)"
          >{{info}}</mat-checkbox>
        </ng-container>
        </div>
        <div [formGroupName]="'optional'">
         <mat-checkbox *ngIf="questionInfo.options.ownAnswer" [checked]="isChecked"
         (change)="isChecked = !isChecked">Other</mat-checkbox>
         <input *ngIf="isChecked" formControlName="answer">
        </div>
      </ng-container>
    </div>
   </div>
  </div>
</form>

<div *ngIf="questions.length" class="bottom-btns">
  <div>
    <button (click)="onAddQuestion()">Add new question</button>
  </div>
  <div>
    <button (click)="onReviewAnswers(quizForm)" mat-raised-button color="accent">Review my answers</button>
  </div>
</div>

<button *ngIf="!questions.length"
  (click)="onAddQuestion()" class="btn-add">Add Question</button>
