<form [formGroup]="pvqForm">
  <div [formArrayName]="'questions'">
    <div *ngFor="let questionInfo of questions; let i = index" class="column">
      <div [formGroupName]="i" class="column">
      <div>{{questionInfo.options.question}}</div>
      <input [formControlName]="'text'+i" type="text" *ngIf="questionInfo.options.type?.includes('Paragraph')">
      <ng-container  *ngIf="questionInfo.options.type?.includes('Checkbox List')">
         <mat-checkbox *ngFor="let info of questionInfo.options.aliases; let i = index"
           [formControlName]="getCheckboxName(i, questionInfo)"
                       >{{info}}</mat-checkbox>
         <mat-checkbox *ngIf="questionInfo.options.ownAnswer" [checked]="isChecked">Other</mat-checkbox>
         <input *ngIf="isChecked" formControlName="answer6">
      </ng-container>
    </div>
   </div>
  </div>
</form>

<ng-container *ngIf="questions.length">
  <button (click)="onAddQuestion()"> Add new question</button>
  <button (click)="onReviewAnswers(pvqForm)">Review my answers</button>
</ng-container>

<button *ngIf="!questions.length"
  (click)="onAddQuestion()" style="margin-top: 40%; margin-left: 50%">Add Question</button>
